//
//** Base Variables
//

// padding setup
$padding-desktop:    10px 15px
$padding-mobile:     5px 15px

// breakpoints setup
$breakpoints-sm:     576px
$breakpoints-md:     768px
$breakpoints-lg:     992px
$breakpoints-xl:     1200px
$breakpoints-xxl:    1400px
$breakpoints-xxxl:   1600px

// color setup
$color-base:         #fff
$color-base2:        #f2f3f8
$color-base3:        #c4c4c4
$color-base-blue:    #6351ce

$red:                #db2828
$orange:             #f2711c
$yellow:             #fbbd08
$olive:              #b5cc18
$green:              #21ba45
$teal:               #00b5ad
$blue:               #2185d0
$violet:             #6435c9
$purple:             #a333c8
$pink:               #e03997
$brown:              #a5673f
$grey:               #767676
$black:              #1b1c1d

// base url for img
$bg-image-path: '../img/'