body, .content-wrapper {
  background-color: #f2f3f8;
}

.content-wrapper {
  padding: 10px 0;
}

.content-wrapper section .container {
  background-color: #fff;
  padding: 5px 15px;
}

.col.col--same-height,
[class*="col-"].col--same-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-base .navbar-brand:hover, .navbar-base .navbar-nav .nav-link:hover, .navbar-base .navbar-nav .active > .nav-link, .page-footer .pree-footer, .page-footer .footer-copyright, .page-footer .footer-copyright a:hover {
  color: #fff;
}

.navbar-base .navbar-brand, .navbar-base .navbar-nav .nav-link, .page-footer .footer-copyright a {
  color: #c4c4c4;
}

.navbar-base {
  background-color: #6351ce;
}

.navbar-base .navbar-brand:hover, .navbar-base .navbar-nav .nav-link:hover, .navbar-base .navbar-nav .active > .nav-link, .page-footer .pree-footer, .page-footer .footer-copyright, .page-footer .footer-copyright a:hover {
  color: #fff;
}

.navbar-base .navbar-brand, .navbar-base .navbar-nav .nav-link, .page-footer .footer-copyright a {
  color: #c4c4c4;
}

.page-footer .pree-footer, .page-footer .footer-copyright {
  background-color: #6351ce;
}

.page-footer .footer-links {
  padding: 1.5rem 0;
  background-color: #fff;
}

.page-footer .footer-copyright a {
  text-decoration: none;
}

@media (min-width: 992px) {
  .content-wrapper section .container {
    padding: 10px 15px;
  }
}

.card.card--foto .card__img, .card.card--foto .card__body, .card.card--foto .card__footer {
  padding: 0;
}

.card .card__img, .card .card__body {
  padding: 1rem;
}

.card.card--foto .card__body .card-title, .card.card--foto .card__body .meta {
  padding: 0 1rem;
}

.card.card--foto .card__body .card-text, .card.card--foto .extra-section, .card .card-user {
  padding: 5px 1rem;
}

.card .extra-section .input-group .input-group-text, .card .extra-section .input-group .form-control {
  border: none;
}

.card .card-user .card-user__name, .card .card-user .meta span {
  vertical-align: middle;
}

.card {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 15px;
  overflow: hidden;
}

.card.card--foto .card__body .card-text {
  margin-top: .1rem;
  font-size: 14px;
}

.card.card--foto .extra-section {
  color: rgba(0, 0, 0, 0.4);
}

.card .card__img {
  min-width: 100%;
  min-height: 180px;
  border-bottom: 1px solid #efefef;
  background-image: url("../img/no_img.png");
  background-size: cover;
}

.card .card__img .card__img--top {
  width: 100%;
}

.card .card__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.card .card__footer {
  padding: .75rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card .card__footer:last-child {
  -webkit-border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
  -moz-border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card .card-title {
  margin-bottom: .1rem;
}

.card .card-text {
  margin-top: 1rem;
}

.card .card-user .card-user__avatar {
  width: 2em;
  height: 2em;
  border-radius: 500rem;
}

.card .extra-section {
  font-size: 14px;
}

.card .extra-section a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.card .extra-section a:hover {
  color: #6351ce;
}

.card .extra-section .input-group .input-group-text {
  padding: 0;
  background-color: transparent;
}

.card .extra-section .input-group .input-group-text .icon {
  color: #ababab;
}

.card .extra-section .input-group .form-control {
  background-color: transparent;
}

.card .extra-section .input-group .form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.card .extra-section .input-group .form-control:focus::-webkit-input-placeholder {
  color: #ababab !important;
}

.card .extra-section .input-group .form-control::-webkit-input-placeholder {
  color: #c4c4c4 !important;
}

.card .meta {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}

.card .meta span {
  margin-right: .3em;
}

.card .meta span :last-child {
  margin-right: 0;
}

.jumbotron {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn.focus, .btn:active {
  -webkit-transform: scale(0.96);
  -moz-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -o-transform: scale(0.96);
  transform: scale(0.96);
}

.btn.focus, .btn:focus, .btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  color: #fff;
  background-color: #6351ce;
  border-color: #6351ce;
}

.btn:hover {
  color: #fff;
  background-color: #4734b8;
  border-color: #4734b8;
}
