@import "../../_config/_mixin";
@import "../../_config/_variables";

// extend function area
%padding-1rem
   padding: 1rem

%padding-extraSection
   padding: 5px 1rem

%border-none
   border: none

%vertical-align-middle
   vertical-align: middle
// extend function area


.card
   +border-radius(0)
   // +box-shadow(0px 0px 5px 1.5px rgba(189, 189, 189, 0.27))
   margin-bottom: 15px
   overflow: hidden

   &.card--foto
      .card__img
         padding: 0

      .extra-section
         @extend %padding-extraSection

      .card__footer
         padding: 0

   .card__img
      @extend %padding-1rem
      min-width: 100%
      min-height: 180px
      border-bottom: 1px solid #efefef
      // +border-radius(calc(.25rem - 1px))
      background-image: url('#{$bg-image-path}no_img.png')
      background-size: cover

      .card__img--top
         width: 100%
         // border-top-left-radius: calc(.25rem - 1px)
         // border-top-right-radius: calc(.25rem - 1px)

   .card__body
      +flex-prop(1, 1 1 auto)
      @extend %padding-1rem     
   
   .card__footer
      padding: .75rem 1rem
      background-color: rgba(0,0,0,.03)
      border-top: 1px solid rgba(0,0,0,.125)

      &:last-child
         +border-radius(0 0 calc(.25rem - 1px) calc(.25rem - 1px))

   .card-title
      margin-bottom: .1rem

   .card-text
      margin-top: 1rem

   .card-user
         @extend %padding-extraSection

         .card-user__avatar
            width: 2em
            height: 2em
            border-radius: 500rem

         .card-user__name
            @extend %vertical-align-middle

         .meta
            span
               @extend %vertical-align-middle

   .extra-section
      font-size: 14px

      a
         text-decoration: none
         color: rgba(0,0,0,.4)

         &:hover
            color: $color-base-blue

      .input-group
         .input-group-text
            @extend %border-none
            padding: 0
            background-color: transparent
               
            .icon
               color: darken($color-base3, 10%)

         .form-control
            @extend %border-none
            background-color: transparent

            &:focus
               +box-shadow(none)
               &::-webkit-input-placeholder
                  color: darken($color-base3, 10%)!important

            &::-webkit-input-placeholder
               color: $color-base3!important

   .meta
      font-size: 1em;
      color: rgba(0,0,0,.4)

      span
         margin-right: .3em;

         & :last-child
            margin-right: 0